# Ignore everything by default
*

# Whitelist project files.
!.gitignore
!Cargo.lock
!Cargo.toml

# Whitelist lint files.
!.markdownlintrc
!clippy.toml

# Whitelist source files.
!build.rs
!src/
!src/**/
!src/**/*.rs
