# Ignore everything by default
*

# Whitelist project files.
!.gitignore
!Cargo.lock
!Cargo.toml
!CLAUDE.md

# Whitelist lint files.
!.markdownlintrc
!clippy.toml

# Whitelist source files.
!build.rs
!src/
!src/**/
!src/**/*.rs

# Whitelist test files.
!tests/
!tests/**/
!tests/**/*.bale
!tests/**/*.md
!tests/**/*.rs
!tests/**/*.stdout
!tests/**/*.toml
